@charset="utf-8";
/*reset*/
*{
	padding:0;
	margin:0;
}
html{
	font-size: 62.5%;
}
body{
	width:100%;
	color: #323232;
	min-width:320px;
	max-width: 640px;
	font-size: 12px;
	font-size: 1.2rem;
	font-family:Helvetica;
	word-break:break-all;
	margin:0 auto;
} 
[data-dpr="2"] body{font-size: 24px;}
[data-dpr="3"] body{font-size: 36px;}
a{text-decoration: none; color:#323232;  -webkit-tap-highlight-color:rgba(0,0,0,0); }
ul,ol,li{list-style: none;}
i,em{font-style: normal;}
input,button{font-size: 1em; font-family:Helvetica; outline: none;}
input[type="button"],button{border:none;}
select{font-family:Helvetica; }
input[type="text"],input[type="password"],select,textarea{outline: none;}
input[type="text"]:focus,input[type="password"]:focus{border-color: #c00;}
img{max-width: 100%;}
input{appearance:none; -webkit-appearance:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
input::-webkit-input-placeholder{color: #ccc;}
table {border-collapse:collapse;border-spacing:0}
.flex-center{display:-webkit-box; display:flex; display:-webkit-flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center;}
.flex-left{display:-webkit-box; display:flex; display:-webkit-flex;-webkit-justify-content:flex-start; justify-content:flex-start;}
.flex-between{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between;}
/*
.flex4{flex:4;-wekit-flex:4;}
.flex6{flex:6;-wekit-flex:6;}*/
.clearfix:after{content:"."; height:0; display: block; visibility: hidden; clear:both;}
.icon{background-image: url(../images/l_icon.png); background-repeat: no-repeat; display: inline-block; background-size: 320px 320px; vertical-align: middle;}
@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/iconfont.woff') format('woff'), 
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg'); 
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal !important;font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.icobg {
background-image: url(../images/icos.png);
background-repeat: no-repeat;
display: inline-block;
background-size: 40em 40em;
}
/*--    index  ----*/
.bodybg{padding-bottom: 20px;background: #f5f5f5;}
.fl{float: left;}
.none{display: none;}
.red {color: #e21c1c;}
/*banner*/
.slideBox{ position:relative; overflow:hidden; margin:0 auto; }
.slideBox .hd{ position:absolute; height:13px; line-height:13px; bottom:4%; right:0; z-index:1; width: 100%; text-align: center;}
.slideBox .hd li{ display:inline-block; width:11px; height:11px; background:rgba(255,255,255,.3); text-indent:-9999px; overflow:hidden; margin:0 3px;border-radius: 6px;-webkit-border-radius: 6px;}
.slideBox .hd li.on{background:rgba(255,255,255,1);}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{vertical-align:top; width:100%;}
/*bannner end*/
.l-info{margin-bottom: 10px;background-color: #fff;}
.l-data-area{padding:11px 0;text-align: center;width: 100%;}
.l-data-area dl{width:33.3%;}
.l-data-title{line-height: 18px;font-size: 13px;color:#646464;}
.l-data-sum{line-height: 21px;font-size: 18px;color:#f66c68;}
.l-zxgg{padding:5px 0;width: 93.75%;margin:0 auto;height: 25px;border-top:1px solid #ebebeb;}
.l-zxgg-title{float: left;display:block;vertical-align: middle;}/*0906修改display属性*/
.l-zxgg-news{padding-left: 3.125%;height: 25px;border-left:1px solid #ebebeb;overflow: hidden;}
.l-zxgg-news>ul>li>a{display: block;height: 25px;line-height: 25px;color:#969696;}

.l-mwylc{margin-bottom: 10px;background-color: #fff;}
.l-mwylc-title{position: relative;padding-left: 3.125%;height: 31px;line-height: 31px;font-size: 16px;font-weight: normal;border-left:5px solid #59b8e8;border-bottom: 1px solid #ebebeb;}
.l-m-more{position: absolute;top:9px;right: 3.44%;height: 13px;line-height: 13px;font-size: 12px;color:#777;}
.l-m-more>i{display: inline-block;vertical-align: middle;}
.l-m-moreicon{width: 13px;height: 13px;line-height: 13px;text-align: center;font-size:13px;color:#fff;background-color:#e95412;border-radius: 2px;-webkit-border-radius: 2px;}
.l-m-moreicon:visited{color:#fff;}
.l-m-content{display:block;padding:8px 0 13px 3.4%;}
.l-m-content:visited .l-m-title,.l-m-content:visited .l-m-jkje,.l-m-content:visited .l-m-jkje{color: #323232;}
.l-m-title{display:block;line-height: 16px;font-size: 14px;white-space: nowrap;width:93%;text-overflow:ellipsis;overflow: hidden;}
.l-m-title:visited{color:#323232;}
.l-m-data{display: block;padding:9px 0;}
.l-m-nhsy,.l-m-jkqx{display: inline-block;width: 30%;}
.l-m-jkje{display: inline-block;width: 37%;}
.l-m-data dl dt{line-height: 16px;font-size: 12px;color:#646464;}
.l-m-data dl dd{line-height: 22px;font-size: 18px;}
.l-m-data dl.l-m-nhsy dd{color:#f66c68;}
.l-m-pro{display:block;height: 14px;line-height: 14px;}
.l-m-probg{position: relative;display: inline-block;width: 80.9%;height: 5px;border-radius:20px;-webkit-border-radius:20px;background-color:#eee;vertical-align: middle;}
.l-m-proline{position: absolute;top: 0;left: 0;height: 5px;border-radius:20px;-webkit-border-radius:20px;background-color: #f90;}
.l-m-pronum{display: inline-block;padding-left: 0.9%;font-size: 13px;font-family:Arial;color:#646464;vertical-align: middle;}
.l-m-repayment{display:flex;display:-webkit-flex;padding-top:7px;line-height: 16px;font-size: 12px;color:#646464;}
.l-m-repayment>i{vertical-align: middle;}
.l-m-repayicon{padding-right: 0.625%;color:#b4b4b4;}
.l-m-repayways{padding-left: 2%;} 

.l-m-zqzr .l-mwylc-title{border-left:5px solid #59e8d5;}
.l-m-repayment>span{display: inline-block;width: 49%;} 
.l-m-repayment>span>i{vertical-align: middle;}
.l-jpfs-icon{padding-right: 0.625%;color:#b4b4b4;font-size: 13px;}
.l-jpzt-icon{margin-right: 0.625%;width: 12px;height: 12px;background-position: -4px -5px;}

.l-footer{padding-top: 18px;border-top: 1px solid #e6e6e6;}
.l-comnum{padding:17px 0 10px;line-height: 32px;text-align: center;font-size: 13px;color:#c8c8c8;}
.l-footer-btns{text-align: center;}
.l-footer-btns>a{display: inline-block;margin:0 .74%;padding:0 5.3%;height: 30px;line-height: 30px;font-size: 13px;color:#969696;background-color:#e6e6e6;border:1px solid #e0e0e0;border-radius: 3px;-webkit-border-radius: 3px;}
/*关于我们  about us*/
.l-mem-icon{position: absolute;top: 0;right: 3.9%;height: 44px;line-height: 44px;font-size: 26px;color:#fff;}
.l-gywm-content{width: 90.6%;margin:0 auto;font-size: 16px;color:#646464;line-height: 24px;}
.l-gywm-content p{padding-top: 24px;text-indent: 2em;}
.l-gywm-pic{padding:22px 0;}
/*注册 zhu ce*/
.l-reg-rule{margin:10px 0 180px;padding: 25px 0 73px;background-color: #fff;}
.l-reg-rule>p{text-align: center;font-size: 14px;color:#646464;line-height: 30px;}
.l-reg-role{padding-top: 20px;text-align: center;}
.l-reg-role>a{display: inline-block;width: 83px;margin:0 20px;font-size: 34px;color:#00b0ec;text-align: center;line-height: 39px;border:1px solid #00b0ec;}
.l-reg-bot{padding-bottom: 25px;text-align: center;height: 20px;line-height: 20px;font-size: 14px;color:#969696;}
.l-reg-bot>a{color:#2263e6;}
/*注册成功 zhu ce cheng gong*/
.l-top-nav{z-index: 105;position: relative;height: 44px;line-height: 44px;text-align: center;color:#fff;font-size: 18px;font-weight: normal;background-color: #e73825;border-bottom: 1px solid #e73825;}
.l-regsuc-tips{height: 73px;line-height: 73px;text-align: center;font-size: 18px;color:#646464;}
.l-regsuc-tips>i{vertical-align: middle;}
.l-regsuc-itips{padding-right: 4.69%;font-size: 25px;color:#36d9a8;}
.l-open-tips{padding:15px 0;margin-bottom: 10px;text-align: center;color:#59b7e8;background-color: #fff;}
.l-open-icon{display: block;margin:0 auto 7px;width: 19px;height: 26px;background-position:-1px -19px;}
.l-open-tips p{line-height: 20px;font-size: 17px;}
.l-open-btn{display: block;margin:0 auto;width: 93.75%;height: 44px;line-height: 44px;text-align: center;font-size: 18px;color:#fff;background-color: #e95412;}
.l-unopen-link{display: block;margin:18px 0 0 5.93%;font-size: 14px;color:#2263e6;line-height: 17px;}

/*填写账户信息   tian xie zhang hu xin xi*/
.l-reg-info{padding-top: 10px;}
.l-reg-info>li{margin-bottom: 10px;}
.l-reg-fill{padding-left: 4.69%;height: 56px;line-height: 56px;background-color: #fff;}
.l-reg-ftitle{display: inline-block;width: 25%;font-size: 17px;}
.l-reg-frole{display: inline-block;width: 70%;}
.l-reg-frole>a{display: inline-block;margin-right: 2.8%;width: 34%;height: 26px;line-height: 26px;text-align: center;font-size: 16px;color:#c8c8c8;border:1px solid #c8c8c8;}
.l-reg-frole>a.click{color:#e95412;border:1px solid #e95412;}
.l-reg-info>li.l-tel,.l-reg-info>li.l-agreement,.l-reg-info>li.next-btn,.l-reg-info .l-fill-list{margin-bottom: 0;}
.l-reg-agreement{padding-left: 3.125%;height: 45px;line-height: 45px;font-size: 14px;color:#c8c8c8;}
.l-reg-agreement>a{color:#2263e6;}
.l-reg-iagreement{display: inline-block;width: 16px;height: 16px;line-height: 16px;text-align: center;font-size: 16px;color:transparent;border:1px solid #2263e6;}/*0906 替换该类里的属性*/

/*实名认证  shi ming ren zheng*/
.l-smrz-content{padding-top: 9px;}
.l-fill-list{position: relative;padding-left: 4.69%;margin-bottom: 10px;height: 56px;line-height: 56px;background-color: #fff;}
.l-smrz-title{display: inline-block;padding-right: 1.25%;width: 28.13%;font-size: 17px;}
.l-fill-list input[type="text"],.l-fill-list input[type="password"]{display: inline-block;width: 62.5%;height: 56px;font-size: 15px;color:#c8c8c8;background:none;border:none;}
.l-fill-list input[type="text"]{width: 90%;}
.l-smrz-btn{display: block;margin:0 auto;width: 93.75%;height: 44px;line-height: 44px;font-size: 18px;color:#FFF;text-align: center;background-color: #e73825; border-radius:5px;}
.l-smrz-btn:visited{color:#EF8A5F;}
.l-inputall{color:#fff !important;}
.l-ferr{padding-left: 30.5%;height: 25px;line-height: 25px;font-size: 12px;color:#969696;}
/*绑定账户  bang ding zhang hu*/
.l-bind-notice{margin-bottom: 10px;padding:13px 7.8%;font-size: 15px;line-height: 17px;color:#969696;background-color: #fff;}
.l-bind-title{display: inline-block;width: 25%;padding-right: 1.25%;font-size: 18px;}
.l-fill-list .l-fyzm{width: 37% !important;}
.l-fyzm-pic{display: inline-block;margin-top: 10px;vertical-align: middle;}
.l-bpop-txt{padding:5px 0;text-align: center;line-height: 20px;}
.l-bpop-btn{display: block;margin: 0 auto;width: 80%;height: 40px;line-height: 40px;font-size: 16px;color: #fff;text-align: center;background-color: #e95412;}
/*账户中心 zhang hu zhong xin*/
.pb20{padding-bottom: 20px;}
.l-top-zhlink{position: absolute;top: 0;right: 4.375%;height: 44px;line-height: 44px;font-size: 14px;color:#fff;}
.l-zh-sum{position: relative;padding-bottom: 10px;background-color: #fff;}/*0906新增position: relative;*/
.l-zh-kyye{padding:20px 0 10px;text-align: center;}
.l-zh-sumtitle{height: 20px;line-height: 20px;font-size: 12px;color:#c8c8c8;}
.l-zh-kyyesum{height: 45px;line-height: 45px;font-size: 34px;color:#f66c68;letter-spacing: 1.5px;}
.l-zh-money dl{display: inline-block;width: 49%;text-align: center;}
.l-zh-money dl dd{height: 25px;line-height: 25px;font-size: 18px;letter-spacing: 1px;}
.l-zh-menu{padding:10px 0;}
.l-zh-menu>li{margin-bottom: 10px;padding-left: 15.3%;background-color: #fff;}
.l-zh-menu>li>a{display: block;position: relative;height: 40px;line-height: 40px;border-top: 1px solid #e6e6e6;font-size: 14px;color:#646464;}
.l-zh-menu>li>a:first-child{border-top: none;}
.l-zh-smenu{position: absolute;top: 0;right: 7.8%;height: 40px;line-height: 40px;font-size: 17px;color:#cecece;}
.l-zh-imenu{position: absolute;top: 0;left: -11.56%;width: 24px;height: 40px;background-image: url(../images/l_icon.png); background-repeat: no-repeat; display: inline-block; background-size: 320px 320px;}
.l-zh-imenu1{background-position: 0 -54px;}
.l-zh-imenu2{background-position: -24px -54px;}
.l-zh-imenu3{background-position: -48px -54px;}
.l-zh-imenu4{background-position: -72px -54px;}
.l-zh-imenu5{background-position: -96px -54px;}
.l-zh-imenu6{background-position: -120px -54px;}
.l-zh-imenu7{background-position: -144px -54px;}
.l-zh-imenu8{background-position: -168px -54px;}
.l-zh-imenu9{background-position: -192px -54px;}
.l-zh-imenu10{background-position:-215px -54px;}
.l-zh-imenu11{background-position:-239px -54px;}
.l-zh-btn{display: block;margin:0 auto;width: 90.625%;height: 44px;line-height: 44px;font-size: 18px;color:#fff;text-align: center;background-color: #e95412;}
.l-zh-btn:visited{color:#fff;}

/*债权转让   zhai quan zhuan rang*/
.l-inquiry-btn{position: absolute;top: 0;left: 4.69%;height: 44px;font-size: 27px;color:#fff;}
.l-inquiry-input{position: relative;display: inline-block;width: 62.5%;height: 30px;margin:0 auto;background-color:#fff;border-radius:5px;-webkit-border-radius:5px;vertical-align: middle;}
.l-inquiry-input input[type="text"]{z-index: 5;position: relative;display:block;padding-left: 3.1%;padding-right: 10.9%;height: 30px;font-size: 16px;color:#c8c8c8;background:none;border:none;}
.l-inquiry-icon{z-index: 10;position: absolute;top: 0;right: 3.125%;height: 30px;line-height: 30px;font-size: 23px;color:#c8c8c8;}
.mb10{margin-bottom: 10px;}
.l-zqzr-list{display:block;position: relative;padding:8px 1% 8px 3.7% ;background-color: #fff;margin-bottom: 10px;}/*09061 修改padding值*/
.l-zqzr-list:visited .l-zqzr-title,.l-zqzr-list:visited .l-zqzr-sum{color:#323232;}
.l-zqzr-status{position: absolute;top: 0;right: 4.69%;}
.l-zqzr-title{display: block;width: 82.8%;height: 29px;line-height: 29px;font-size: 16px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.l-zqzr-title:visited{color:#323232;}
.l-zqzr-sum{display: block;}
.l-zqzr-sum dl{display: inline-block;width: 32%;}
.l-zqzr-sum dl dt{height: 15px;line-height: 15px;font-size: 12px;color:#c8c8c8;}
.l-zqzr-sum dl dd{height: 18px;line-height: 18px;font-size: 16px;}
.l-zqzr-sum dl dd.l-cursum{color:#f66c68;}
.l-zqzr-time{height: 26px;line-height: 26px;font-size: 12px;color:#969696;}/*09061替换该类内的属性*/
.l-timenum{color:#00b0ec;}
/*债权转让详情   zhai quan xiang qing*/
.l-lr-border{text-indent: 2em;padding: 5px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;}

/*债权转让管理   zhai quan zhuan rang guan li*/
.l-zqzrgl-title{display: block;height: 24px;line-height: 24px;font-size: 16px;}
.l-zqzrgl-title:visited{color:#323232;}
.l-zqzrgl{display:block;}
.l-zqzrgl>span{display: inline-block;position: relative;height: 22px;line-height: 22px;font-size: 13px;color:#969696;}
.l-zqzrgl-bt{padding-right: 2.3%;}
.l-zqzrgl-sum{color:#00b0ec;}
.l-zqzrgl-rate{color:#f66c68;}
.l-zqzrgl-status{position: absolute;top: -7px;right: 0;width: 44px;height: 44px;font-size: 13px;color:#fff;text-align: center;background-color:#f29871;border-radius: 22px;-webkit-border-radius: 22px;display:box;box-pack:center; box-align:center; display:-webkit-box;-webkit-box-pack:center; 
-webkit-box-align:center;}
.l-zqzrgl-status>i{display: block;width: 60%;margin:0 auto;text-align: center;line-height: 13px;vertical-align: middle;}
.l-zqzrgl-inquiry{display: none;position: absolute;top: 45px;left: 0;padding-top: 15px;padding-left: 4.7%;width: 95.3%;background-color: #fff;}
.l-zqzrgl-ibtns{width: 90.625%;margin:0 auto;}
.l-zqzrgl-ibtns>a{display: block;float: left;width: 49%;
height: 32px;line-height: 32px;text-align: center;font-size: 16px;color: #969696;border: 1px solid #e95412;}
.l-zqzrgl-ibtns>a.click {color: #fff;background-color: #e95412;}
.l-zqzrgl-inquiry .l-wylc-select{position:static;top: 0;left: 0;width: 100%;padding-left: 0;}
/*我要理财 wo yao li cai*/
.l-wylc-list{z-index: 50;position: relative;display:block;padding:7px 3.9%;margin-bottom: 10px;background-color: #fff;}
.l-wylc-table{display:table;}
.l-wylc-mem{display: block;position: relative;padding-top: 7px;width: 38px;height: 38px;overflow: hidden;}
.l-wylc-mempic{z-index: 2;position: absolute;top: 0;left: 0;width: 38px;height: 38px;border-radius: 19px;-webkit-border-radius: 19px;overflow:hidden;}
.l-wylc-memlevel{z-index: 5;position: absolute;bottom: 2px;right: 2px;width: 8px;height: 8px;border-radius: 4px;-webkit-border-radius: 4px;overflow: hidden;}
.l-wylc-memname{display:block;width: 38px;height: 15px;line-height: 15px;text-align: center;}
.l-wylc-tinfo{display: block;font-size: 16px;}
.l-wylc-title{font-size: 12px;color:#c8c8c8;}
.l-wylc-data{font-size: 16px;}
.l-wylc-data>i{font-size: 12px;color:#323232;}
.l-wylc-table .l-wylc-rate,.l-jkb-data3 .l-wylc-rate{color:#f66c68;}
.l-wylc-probg{position: relative;display: inline-block;width: 67%;height: 6px;padding-right: 1.4%;background-color: #e5e5e5;border-radius: 3px;-webkit-border-radius: 3px;vertical-align: middle;}
.l-wylc-proline{position: absolute;top: 0;left: 0;height: 6px;background-color: #f90;border-radius: 3px;-webkit-border-radius: 3px;}
.l-wylc-pronum{display: inline-block;height: 28px;line-height: 28px;font-size: 11px;color:#f90;vertical-align: middle;}
.l-wylc-thkfs{font-size: 12px;}
.l-wylc-hkfs{color:#969696;}
.l-wylc-select{display: none;position: absolute;top: 45px;left: 0;padding-left: 4.7%;width: 95.3%;background-color: #fff;}
.l-wylc-select li{position: relative;height: 40px;line-height: 40px;font-size: 14px;text-align: left;color:#808080;border-top: 1px solid #e0e0e0;}
.l-wylc-select li:first-child{border-top:none;}
.l-wylc-circle{position: absolute;top: 14px;right: 7.8%;width: 12px;height: 12px;border-radius: 7px;-webkit-border-radius: 7px;border:1px solid #ccc;}
.l-wylc-circle2{display: none;position: absolute;top: 2px;right: 2px;width:8px;height: 8px;background-color: #2f5de0;border-radius: 4px;-webkit-border-radius: 4px;}
.l-wylc-select li.l-wylc-scircle .l-wylc-circle{border:1px solid #2f5de0;}
.l-wylc-select li.l-wylc-scircle .l-wylc-circle2{display: block;}
/*验证手机号码 yan zheng shou ji hao ma*/
.l-yzsjhm-contact{height: 68px;line-height: 68px;text-align: center;font-size: 12px;color:#646464;}
.l-yzsjhm-cicon{padding-right: 3.125%;font-size: 18px;color:#e95412;}
.l-yzsjhm-content>li{margin-bottom: 10px;padding-left: 4.4%;height: 56px;line-height: 56px;background-color: #fff;}
.l-yzsjhm-title{display: inline-block;float: left;width: 28.13%;padding-right: 1.25%;font-size: 17px;}
.l-yzsjhm-tel{display: inline-block;float: left;width: 36.5%;padding-right: .78%;font-size: 15px;color:#e95412;}
.l-yzsjhm-content .l-yzsjhm-telexchange{float: right;padding-top: 21px;margin-right: 6.25%;display: inline-block;font-size: 12px;color:#2263e6;line-height: 13px;border-bottom: 1px solid #2263e6;vertical-align: middle;}
.l-yzsjhm-inyzm{display: inline-block;float: left;padding-left: .5%;width: 31.25%;height: 56px;font-size: 13px;color:#c8c8c8;background:none;border:none;}
.l-yzsjhm-hqyzm{display: inline-block;float: right;margin-right: 6.25%;margin-top: 15px;padding:0 .47%;height: 24px;line-height: 24px;font-size: 13px;color:#e95412;border:1px solid #e95412;vertical-align: middle;}


/*我的借款标  wo de jie kuan biao*/
.l-jkb-list{display:block;margin-bottom: 10px;padding:2.19% 3.9% 3.9%;background-color: #fff;}
.l-jkb-tinfo{height: 29px;line-height: 29px;font-weight: normal;}
.l-jkb-tinfo>img{display: inline-block;margin-right: 1.56%;margin-top: -2px;vertical-align: middle;}
.l-jkb-title{display: inline-block;height: 14px;line-height: 14px;font-size: 15px;vertical-align: middle;}
.l-jkb-data{display:block;width: 90.625%;margin:0 auto;padding-bottom: 13px;border-bottom: 1px solid #e6e6e6;}
.l-jkb-data dl{display: inline-block;}
.l-jkb-data1{width: 39.66%;padding:0 .3% 0 4.69%;}
.l-jkb-data2{width: 29.69%;padding-right: .78%;}
.l-jkb-data3{width: 18%;}
.l-jkb-interest{padding:11px 0 0 5.9%;font-size: 12px;color:#969696;line-height: 1; display: flex;display: -webkit-flex;}/*0902 新增属性display*/
.l-jkb-sum{padding-left: 2%;font-size: 15px;color:#e73825;}

/*忘记密码 wang ji mi ma*/
.l-fpsw{padding:12px 4.69%;margin:10px 0;background-color: #fff;}
.l-fpsw>a{display: block;float: left;width: 49%;height: 32px;line-height: 32px;text-align: center;font-size: 16px;color:#e95412;border:1px solid #e95412;}
.l-fpsw>a.click{color:#fff;background-color: #e95412;}
.l-psw-icon{position: absolute;top: 0;right: 5.3%;height: 56px;line-height: 56px;font-size: 21px;color:#c8c8c8;}
/*登录 login*/
.l-log-blink{padding:0 5.6% 0 6.25%;height: 52px;line-height: 52px;font-size: 14px;}
.l-log-fpsw{display: block;float: left;color:#2263e5;}
.l-log-brlink{display: block;float: right;color:#969696;}
.l-log-brlink>a{color:#2263e5;}
.l-log-pbtn{padding:5px 0;text-align: center;}
.l-log-ptxt{padding:5px;width: 80%;margin:0 auto;line-height: 26px;text-indent: 2em;}
.l-log-pbtn>a{display: inline-block;width: 30%;height: 30px;line-height: 30px;margin:0 10px;color:#fff;}
.l-log-zhicon{position: absolute;top: 0;right: 7.8%;height: 56px;line-height: 56px;font-size: 16px;color:#dedede;}
.l-log-upicon{-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.l-log-downicon{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
.l-log-lzh{display: none;padding-left: 4.69%;background-color: #f2f2f2;}
.l-log-lzh>li{padding-left: 26.5%;height: 45px;line-height: 45px;font-size: 16px;border-top: 1px solid #e8e8e8;}
.l-log-lzh>li:first-child{border-top:none;}
.l-log-input{display: inline-block;position: relative;width: 62%;}
.l-log-cicon{display: none;position: absolute;top: 0;right: 14%;height: 56px;line-height: 56px;font-size: 20px;color:#c8c8c8;cursor:pointer;}
.l-bind-pop{width:85%;margin:0 auto;}
/*借款标详情 jie kuan biao xiang qing*/
.pb10{padding-bottom: 10px !important;}
.l-jkbxq{margin-bottom: 10px;padding:12px 4.69% 0;background-color: #fff;}
.l-jkbxq-title{height: 19px;line-height: 19px;font-weight: normal;}
.l-jkbxq-title>img{display: inline-block;margin-right: 2.34%;vertical-align: middle;}
.l-jkbxq-title>span{display: inline-block;font-size: 16px;color:#1a1a1a;vertical-align: middle;}
.l-jkbxq-status{padding:7px 0 15px;}
.l-jkbxq-status>span{display: inline-block;height: 14px;line-height: 14px;margin-right: 3.13%;font-size: 12px;border-radius: 3px;-webkit-border-radius: 3px;}
.l-jkbxq-sloan{padding:0 1.6%;color:#59b8e8;background-color: #d1f0ff;border:1px dotted #89cef1;}
.l-jkbxq-spro{padding:0 2.19%;color: #a0c329;background-color: #f0ffbe;border:1px dotted #a0c329;}

.l-jkbxq-sum{padding:10px 0 15px;border-top:1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
.l-jkbxq-sprize{padding-bottom: 14px;text-align: center;}
.l-jkbxq-stitle{height: 19px;line-height: 19px;font-size: 12px;color:#646464;}
.l-jkbxq-sprize dd{height: 24px;line-height: 24px;font-size: 20px;}
.l-jkbxq-sinfo{padding-top: 1px;}
.l-jkbxq-sinfo dl{display: inline-block;width: 49%;line-height: 1;text-align: center;border-left:1px solid #e6e6e6;}
.l-jkbxq-sinfo dl:first-child{border-left:none;}
.l-jkbxq-sinfo dl dd{height: 29px;line-height: 29px;}
.l-jkbxq-srate{font-size: 13px;color:#646464;}
.l-jkbxq-srate i{font-size: 25px;color:#f3423f;letter-spacing: 2.5%;}
.l-jkbxq-sjkqx{font-size: 18px;color:#1a1a1a;letter-spacing: 2px;}
.l-jkbxq-sjkqx i{font-size: 24px;letter-spacing: 1.5%;}

.l-jkbxq-money{padding:7px 0;border-bottom: 1px solid #e6e6e6;}
.l-jkbxq-money>span{display: inline-block;width: 49%;height: 27px;line-height: 27px;font-size: 14px;color:#646464;}
.l-jkbxq-mtitle{padding-right: 3%;color:#969696;}
.l-jkbxq-mnum{color:#e73825;}
.l-jkbxq-rtime{height: 41px;line-height: 41px;font-size: 14px;color:#969696;}
.l-jkbxq-rtime>i{color:#e73825;letter-spacing: 2px;}

.l-jkbxq-rsum{padding:6px 0;margin-bottom: 10px;}
.l-jkbxq-rsum p{height: 28px;line-height: 28px;font-size: 14px;color:#969696;}
.l-jkbxq-rbsum{padding-right: 1.25%;color:#e73825;}

.l-jkbxq-tbsum{margin-bottom: 10px;line-height: 41px;font-size: 14px;color:#969696;border-top:1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;}/*0906删除height属性*/
.l-jkbxq-tbinput{display: inline-block;padding:0 1.25% 0 8.1%;width: 25%;height: 41px;font-size: 12px;color:#c8c8c8;background:none;border:none;}
.l-jkbxq-tbbtn{display: block; border-radius:5px;height: 44px;line-height: 44px;text-align: center;font-size: 18px;color:#FFF;background-color: #e73825;}
.l-jkbxq-tbbtn:visited{color:#f59f7a;}
/*新增css   start*/
.s_biaodetail{border-top: 1px solid #e6e6e6; margin-top:.5em; border-bottom: 1px solid #e6e6e6; background: #fff; color: #666;}
.s_biaodetail h3{height: 2.8em; line-height: 2.8em; padding:0 4.6875%; border-bottom: 1px solid #e6e6e6; position: relative;font-weight: normal;}
.s_biaodetail h3 .arrow{top: .8em;}
.s_biaodetail h3.clicked .arrow{transform:rotate(180deg); -moz-transform:rotate(180deg); -webkit-transform:rotate(180deg); -o-transform:rotate(180deg);}
.s_biaodetaimain{border-bottom: 1px solid #e6e6e6; padding:1em 4.6875%;}
.degree{height: 1.2em; display: inline-block; width: 2.1em; line-height: 1.2em; text-align: center; font-size: .833em; color: #fff; margin-left: 1.5em;}
.degree-aa{background:#127EED;}
.s_biaodetaimain{display: none;}
.s_biaodetaimain ul{line-height:1.8756em;}
.s_biaodetaimain h4{color: #333; margin-top:.6em; margin-bottom: .2em; font-size: 1.1667em;font-weight: normal;}
.s_biaodetaimain .ultable li{display: table; width: 100%;}
.s_biaodetaimain .ultable li>span{display: table-cell; width: 50%;}
.s_biaoms{padding:1em 4.6875%; background:#fff; color: #666; border-bottom: 1px solid #e6e6e6;}
.s_zqdata{padding-top:1em; padding-bottom: 1em;}
.s_zqdata .s_biaodata{margin-top:.2em;}
.s_biaodetaimain{position: relative;}
.s_shtab tr{height:3em;}
.s_shtab td{border-bottom: 1px dashed #e6e6e6;}
.s_shtab tr:last-child td{border-bottom: none;}
.blue{color: #127eed;}
.s_zrtop .blue{font-size: 1.25em;}
.l-detail{background-color: #fff;}
.l-detail .s_biaodetail{margin-top: 0;border-top: none;border-bottom: none;}
.l-detail .s_biaodetail:first-child{border-top: none;}
.l-detail .s_biaodetail h3 .arrow{position: absolute;top: 0;right: 7.8%;font-size: 16px;}
.l-detail .s_biaodetail h3 .l-arrow-up{transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.l-detail .s_biaodetail h3 .l-arrow-down{transform:rotate(270deg);-webkit-transform:rotate(270deg);}
.l-level-sum{padding:0 1%;color:#F30;}
.l-arrow-pos{position: absolute;top: 0;right: 7.8%;
font-size: 16px;}
/* --公共弹窗样式-- */
.popupbg{position: fixed; display: none; width: 100%; height: 100%; background: #000; opacity: .3; z-index: 100; top:0; left: 0;}
.popup{position: fixed; display: none; z-index: 101; left: 50%; top: 50%; background: #fff; border-radius: 5px;-webkit-border-radius: 5px; box-shadow: 0 0 10px #000;}
.pophead{height: 45px; line-height: 45px; background: #eee; border-bottom:1px solid #e0e0e0; border-radius: 5px 5px 0 0; font-size: 17px; overflow: hidden; padding: 0 10px;}
.pophead>span{font-weight: bold; color: #333;}
.popcont{padding: 20px 30px 30px;}
.l-bid-succ .l-smrz-btn{height: 30px;line-height: 30px;color:#fff;}

/*充值 chong zhi*/
.s_czbody{padding:0 4.6875%; color: #666;}
.s_czuser li{margin-top:1em;}
.s_czuser strong{font-weight: normal;}
.s_czuser .text{height: 2em; border:1px solid #ccc; margin-right: 2%; width: 48%; padding:0 2%;}
.s_likeradio{margin-right: 5%;}
.s_paystyle{border:1px dashed #ccc; margin-top:1.5em; height: 28.4em; overflow-y: scroll;}
.s_paystyle li{display: table; width: 100%;}
.s_paystyle li a{display: table-cell; text-align: center; width: 50%;}
.s_paystyle li img{width: 83.33%; border:1px solid #ccc;}
.s_paystyle li a.clicked img{border-color: #e95412;}
.s_czsubbtn{display: block; width: 40%; color: #fff; height: 2.2em; background:#e95412; border-radius: 5px; margin:0 auto; font-size: 1.2em;}
.s_radio{width: 1em; height: 1em; font-size: 1em; border:.1em solid #ccc; border-radius: .5em; background: #fff; display: inline-block; vertical-align: middle; margin-right: .5em;}
.s_radio[checked]{background:#127eed;}

/*提现*/
.s_getmoney{padding:.5em 4.6875%; color:#666;}
.s_getmoney li{margin-top:.8em; line-height: 2em;}
.s_getmoney li .text{ border:1px solid #ccc; height: 2em; color: #999;}
.s_getmoney li input.text{padding:0 2%;}
.s_getmoney li .lil,.s_getmoney li .lir{display: inline-block; vertical-align: top;}
.s_getmoney li .lir{width: 57%;}
.smallfont{font-size: .833em; color: #999; line-height: 1.2em; margin-top:.5em;}
.s_getmoney .textw1{width: 80%;}
.s_getmoney .bankdetail{background:#fff; border:1px solid #e6e6e6; padding:1em; line-height: 1.3em;}
.s_getmoney .textw2{width: 74%;}
.s_getmoney .notice{border:1px dashed #ccc; line-height: 1.4em; padding:1em;}
.s_getmoney .s_czsubbtn{margin-top:1em;}
.bankdetail2{width: 90%;margin:0 auto;background:#fff; border:1px solid #e6e6e6; padding:1em; line-height: 1.3em;margin-top: 5px;}
/*交易记录*/
.s_recordtop{height: 2.5em; color: #999; line-height: 2.5em; align-items:center; border-top:1px solid #e6e6e6; display: flex; justify-content:space-between; border-bottom: 1px solid #e6e6e6; background:#fff; margin-top:1em; padding:0 4.6875%;}
.s_recordtop select{font-size: 1.2em; height: 1.5em; width: 15%; vertical-align: middle; border:1px solid #e6e6e6; }
.s_recordtop span{width:84%; vertical-align: middle;}
.s_recordtop input[type="text"]{width: 35%; height: 1.6em; border:1px solid #e6e6e6; color: #666; padding:0 2%;}
.s_record li{margin-top:1em; color: #666; background:#fff; border-top:1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; padding:.5em 4.6875%;}
.s_record strong{font-size:1.4em; color:#e73825; font-weight: normal;}
.s_record tr{height: 2em;}

/*安全设置*/
.s_set{margin-top:1em; color: #666;width: 100%;overflow: hidden;}
.s_set>li{background:#fff; margin-bottom: .833em;}
.s_set>li h3{border-bottom: 1px solid #e6e6e6; padding:0 4.6875%; border-top:1px solid #e6e6e6; height: 2.5em;font-weight: normal; display: table; width: 100%;}
.s_set>li h3>*{display: table-cell; vertical-align: middle;}
.s_set>li h3 .tabl{min-width: 5em; width: 21.35%;}
.s_set>li h3 .tabm{width: 62%;}
.s_set>li h3 .tabr{min-width: 2em;}
.s_setbox{border-bottom: 1px solid #e6e6e6; padding:.5em 0; display: none;}
.s_setbox li{display: table; width: 100%; height: 2.5em;}
.s_setbox li>span{display: table-cell; vertical-align: middle;}
.s_setbox li .lil{text-align: right; padding-right: 1%; width: 18%; min-width: 9em;}
.s_setbox li .lir{width:82%;}
.s_setbox li .text{border:1px solid #ccc; height: 2em; padding:0 .5em;}
.s_setbox li .textw1{width: 49%;}
.s_setbox li .textw2{width: 82%;}
.s_setbox .getmsg{border:1px solid #ccc; height:2em; margin-left: 2%; width: 22.95%; min-width: 6em;}
.s_setbox .surebtn{color: #fff; height: 2em; border-radius: 5px; width: 40%; background:#e73825;}

/*站内信*/
.s_message{margin:0 auto; width: 93.75%;}
.s_message li{border-bottom: 1px dashed #ccc; color: #666; padding:1em 0;}
.s_message h3{font-size: 1.1em; display: flex; justify-content:space-between; margin-bottom: .5em;}
.s_message h3 a{color: #666;}
.s_message .unread h3 a,.s_message .unread h3{color: #333;}
.s_message p{line-height: 1.4em;}
.s_message .msgtime{text-align: right; margin-top:.6em;}
/*站内信详情*/
.s_mesgdetail{width: 93.75%; margin: 1em auto;}
.s_mesgdetail h2{font-size: 1.2em; border-bottom: 1px dashed #ccc; line-height: 1.8em;}
.s_mesgdetail article{color: #666; line-height: 1.4em; margin-top:1em;}
.s_mesgdetail article h4{margin-bottom: .5em;}
.s_mesgdetail article p{text-indent:2em;}
.articalebtm{text-align: right; margin-top:3em; line-height: 1.6em;}
/*我的借款账单*/
.s_borrownote{height: 3em; line-height: 3em; display: table; width:100%; background:#fff; border-bottom: 1px solid #e6e6e6; margin-top:1em;}
.s_borrownote li{display: table-cell; text-align: center; width: 20%;}
.s_borrownote li.clicked{color: #127eed;}
.s_search{margin:.8333em 0 0 .8333em; width: 90%; position: relative;}
.s_search input{color: #ccc; height: 3em; width: 100%; padding-left: 1.5em; border-radius: 1.25em; border:.0833em solid #e6e6e6;}
.s_search label{cursor: pointer; position: absolute; height: 100%; right: 1em; top:0;}
.s_search .icobg{width: 2.533em; height: 2.4em; background-position: -13.6em -5.2em; margin-top:.3em;}
.s_lcpro{background:#fff; border-bottom: 1px solid #e6e6e6; color: #666;}
.s_lcpro>li{padding:1em 4.6875%; border-bottom: 1px solid #e6e6e6;}
.s_lcpro>li h3{font-size: 1.2em;}
.s_lcpro1{background:none;}
.s_lcpro1 li{position: relative; margin-top:1em; background:#fff; border-top:1px solid #e6e6e6;}
.s_lcpro2 li h3{margin:.5em 0;}
.s_notestate{display: inline-block; height: 2em; line-height: 2em; color: #fff; width:3.4em; border-radius: 1em; background:#e73825; text-align: center; margin-right: 2%;}
.s_notetype{width: 2em; height: 2em; text-align: center; line-height: 2em; color: #fff; background:#FF4343; display: inline-block; border-radius: 1em; margin-right: 2%;}
/*账单详情*/
.s_biaobox{background:#fff;  padding:0 4.6875%; margin-top:.5em; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.s_biaobox3{padding-top:.5em; padding-bottom: .5em;}
.s_biaobox3 h3{font-size: 1.2em; margin-bottom: .5em;}
.s_biaobox3 ul{color: #666;}
.s_biaobox3 ul li{margin-top: .5em;}
.s_biaobox3 .jypw{width: 65%; height: 2em; padding:0 1em; border:1px solid #ccc; border-radius: 3px;}
.s_biaobox3 .paybtn{display: block; width: 27.6%; margin:2em auto 1em; height: 2.4em; background:#e73825; color: #fff; border-radius: 5px;}
/*我的理财标*/
.l-jkb-interest>span{-webkit-flex:1;flex:1;}
/*理财标详情--还款中*/
.l-jkms-title{padding:5px 0;font-size: 16px;color: #1a1a1a;}
.l-jkms-detail{font-size: 14px;color: #969696;text-indent: 2em;line-height: 25px;}
/*债权转让-可以转让的借款*/
.s_zqshing{background: #e73825; margin:1em auto; color: #fff; font-weight: bold; text-align: center; height: 2.6em; line-height: 2.6em; width: 96.875%; border-radius: 3px;}
.arrow {position: absolute;background: url(../images/icos.png) -30.8em -3em no-repeat;top: 1.22em;right: 1em;background-size: 40em 40em;height: 1.0667em;width: 1.8667em;vertical-align: middle;}
/*债权转让-竞拍中*/
.s_zrtop {background:#fff; padding:1em 4.6875%; line-height: 2em; border-bottom: 1px solid #e6e6e6;}
.s_zrtop .blue{font-size: 1.25em;}
.s_zrtop input{width: 48.3%; color: #fff; height: 2.4em; background:#e73825; display: block; margin: 1em auto 0; border-radius: 5px;}
.s_ifacceptbtn{text-align: center; margin-top:1em;}
.s_ifacceptbtn input{width: 35%; height: 2em; margin:0 5%; background:#aaa; border-radius: 5px; color: #fff;}
.s_ifacceptbtn input:first-child{background:#e73825;}

/*媒体报道*/
.s_cfnews{width: 93.75%; margin:0 auto;}
.s_cfnews li{border:1px solid #e6e6e6; background:#fff; margin-top:1em; padding:1em 3%;}
.s_cfnews li h3{font-size: 1.1667em;}
.s_cfnews li p{color: #666; margin-top:.5em; line-height: 1.4em;}
.s_cfnews li>img{width: 100%; margin-top:1em;}
.s_cfnews li a{color: #666; text-decoration: underline; display: inline-block; margin-top:1em;}

/*媒体报道-详情*/
.s_cfdetail{width: 90.625%; margin:2em auto 0;}
.s_cfdetail h3{font-size: 1.1667em;}
.s_cfdetail>img{width: 100%; margin-top:1em;}
.s_cfdetail-data{display: flex; justify-content: space-between; margin-top:1em; color: #666;}
.s_cfdetail-data .span1{color: #999;}
.s_aboutus h3{margin-top:1em;}
.s_cfdetail-cont{color: #666; line-height: 1.4em; margin-top:.8em;text-indent: 2em;}

/*利率计算器*/
.s_centerbox{background:#fff; border-top:1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; margin-top:1em; padding:1em 0; color: #666;}
.s_countertab tr{height: 3.25em;}
.s_countertab td[align="right"]{padding-right: .5em;}
.s_countertab .border{border:1px solid #ccc; height: 2.2em; width:48%; padding:0 1em; color: #999;}
.s_countertab .width01{width: 24%; margin-left: 3.5%;}
.s_countertab .width02{width: 76%;}
.s_counterbtn{text-align: center; padding:1em 0 2em;}
.s_counterbtn input{width:18.75%; border-radius: 3px; height:2em; border:1px solid #e73825; background:#e73825; color:#FFF;}
.s_inputout{position: relative;}
.s_inputout label{color: #ccc; position: absolute; right:1em; top:0;}
.s_inputout .width03{width: 30%; padding-right: 2em;}
.s_inputout .width04{width: 24%; padding-right: 2em; margin-left: 2.5%;}
.s_counterout .s_noborder{border-bottom: none;}
.s_counterout{background:#fff; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; margin-bottom: 1em; color: #666;}
.s_counterout h3{color: #333; padding-left: 1.5em; height: 2.5em; line-height: 2.5em;}
.s_counterout table{border-bottom:1px solid #e6e6e6;}
.s_counterout table tr{height: 2.5em;}
.s_counterout table td{border-left: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6;}
.s_counterout table td:first-child{border-left: none;}
.s_counterout table td[align="right"]{padding-right: 1em;}
.s_counterout table td:last-child{padding-left: 1em;}
.s_counterall{padding:1em 1.5em; line-height: 1.4em;}
.s_counterall strong{color: #e73825; font-weight: normal;}

/*查看弹窗*/
.s_fixedbg{display:none; background:rgba(0,0,0,.3); width: 100%; height: 100%; left: 0; top:0; position: fixed; z-index: 10;}
.s_fixedbox{width: 90.625%; border-radius: 10px; margin-left: auto; margin-right: auto; background:#fff; top:50%; border:1px solid #e6e6e6; padding:1em; position: relative;}
.s_fixedbox .s_closebtn{font-size: 1.5em; color: #f60; cursor: pointer; position: absolute; right:-.2em; top:-.7em; text-align: center; line-height: 1em; width: 1em; height: 1em; border-radius: .5em; background:#fff;}
.s_fixedbox img{width: 100%;}
.s_slidebox{position: relative; margin:0 3em; overflow: hidden;}
.s_slidepic{position: relative;}
.s_slidepic li{vertical-align: middle; display: none;}
.s_slidepic li:first-child{display: block;}
.s_slideprev,.s_slidenext{position: absolute; font-size: 3em; top:50%; margin-top:-.6em; cursor: pointer;}
.s_slideprev{left: .5em;}
.s_slidenext{right: .5em;}

/*0906新增*/
.l-zqzrgl-w1{width: 53%;}
.l-zqzrgl-w2{width: 46%;}
.l-zqzrgl-len{width:100%;}
.l-zh-sum .l-zh-imenu{position: absolute;top: 20px;right: 3.13%;left:auto;}
.l-checkbox input{display: none;}
.l-checkbox input:checked+i{color:#2263e6;}
.l-checkbox{display: inline-block;margin-right: 2.19%;vertical-align: middle;}
.l-agreement-content{width: 90.6%;margin:0 auto;padding:10px 0;color:#646464;line-height: 24px;}
.l-agreement-content h2{font-size: 15px;}
.l-agreement-content p{text-indent: 2em;}
.fr{float:right;}
.l-zqdetail .l-jkbxq-tbsum{line-height: 25px;}
.l-jkbxq-money>span.l-zqzrgl-len{width: 100%;display: block;}
.l-zqzr-ldate{float: left;width: 44%;}
.iselbank strong{ font-weight: none; }